@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
@import url(/css/style.css);
@media (max-width: 768px) {
  .showcase {
    background-image: none;
  }
}
.showcase .container {
  justify-content: center;
}
.showcase .container .content {
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.showcase .container .content a {
  font-size: 16px;
  font-weight: 300;
  color: #191919;
  text-decoration: none;
}
.showcase .container .content a.active {
  font-weight: 500;
}
.showcase .container .content h1 {
  font-size: 56px;
}

.contact {
  padding-top: 6rem;
  padding-bottom: 3rem;
}
.contact .container {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.contact .container .contact-box {
  display: flex;
  align-items: left;
  border: 1px solid #D1D1D1;
  padding: 2rem 4rem 2rem 4rem;
}
.contact .container .contact-box .contact-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191919;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-top: 0.5rem;
}
.contact .container .contact-box .contact-icon i {
  color: #FFFFFF;
  font-size: 18px;
}
.contact .container .contact-box .contact-text {
  margin-left: 2rem;
}
.contact .container .contact-box .contact-text h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.contact .container .contact-box .contact-text p {
  font-size: 18px;
  line-height: 1rem;
}

.leave-message {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.leave-message .container {
  background-color: #F0EFE9;
  padding-top: 140px;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
}
.leave-message .container .section-title {
  text-align: center;
  margin-bottom: 2rem;
}
.leave-message .container .btn-yellow {
  margin-top: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  text-align: center;
}
.leave-message .container .form {
  margin-left: 10rem;
  margin-right: 10rem;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 25px;
  padding: 8px 20px;
}
.leave-message .container .form input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  margin-left: 5px;
  width: 100%;
}