@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
@import url(/css/style.css);



.showcase {
    @media (max-width: 768px) {
        background-image: none;
    }

    .container {
        justify-content: center;
            
        
        
        .content {
            text-align: center;
            padding-top: 6rem;
            padding-bottom: 6rem;

            
            a {
                font-size: 16px;
                font-weight: 300;
                color: #191919;
                text-decoration: none;

                &.active {
                    font-weight: 500;
                }
            }
        
        
            h1 {
                font-size: 56px;
                
                
            }
        }

    }
}

.contact {
    padding-top: 6rem;
    padding-bottom: 3rem;

    @media (max-width: 576px) {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .container {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;

        @media (max-width: 576px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0;
            margin: 0;
            border: 1px solid #D1D1D1;
            
            
        }

        .contact-box {
            display: flex;
            align-items: left;
            border: 1px solid #D1D1D1;
            padding: 2rem 4rem 2rem 4rem;

            @media (max-width: 576px) {
                padding: 1rem;
                border: none;
            }

            .contact-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #191919;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                margin-top: 0.5rem;

                i {
                    color: #FFFFFF;
                    font-size: 18px;
                    
                    
                }
            }

            .contact-text {
                margin-left: 2rem;

                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    margin-bottom: 2rem;
                    margin-top: 1rem;

                    @media (max-width: 576px) {
                        font-size: 20px;
                    }
                }

                p {
                   font-size: 18px;
                   line-height: 1rem;

                   @media (max-width: 576px) {
                    font-size: 16px;
                    line-height: 0.5rem;
                   }
                }
                
            }

        }
    }
}

.leave-message {
    padding-top: 3rem;
    padding-bottom: 6rem;

    @media (max-width: 576px) {
        padding-top: 1rem;
        padding-bottom: 0;
    }
    
    

    .container {
        background-color: #F0EFE9;
        padding-top: 6rem;
        padding-bottom: 6rem;
        display: flex;
        flex-direction: column;

        @media (max-width: 576px) {
            display: grid;
            justify-content: center;
            align-items: center;
            padding: 0;
            padding-bottom: 2rem;

        }
        

        .section-title {
            text-align: center;
            margin-bottom: 2rem;

            @media (max-width: 576px) {
                display: grid;
                margin-top: 2rem;
                font-size: 18px;

                h2 {
                    font-size: 30px;
                }
                
            }
        }

        .btn-yellow {
            margin-top: 2rem;
            margin-left: 10rem;
            margin-right: 10rem;
            text-align: center;

            @media (max-width: 576px) {
                margin-top: 1rem;
                font-size: 14px;
            }
            
        }
        

        .form  {
            margin-left: 10rem;
            margin-right: 10rem;
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-radius: 25px;
            padding: 8px 20px;
            
        
            .form-input {
                display: block;
                border: none;
                outline: none;
                font-size: 16px;
                margin-left: 5px;
                width: 100%;

                @media (max-width: 576px) {
                    width: auto;
                }
                
            }
        }
    }
    
}

.location-map {
    
    @media (max-width: 576px) {

        img {
            object-fit: contain;
            zoom: 20%;
            
        }
    }
}