@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
  font-size: 16px;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}

.btn-round {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  font-weight: 600;
  border-radius: 50%;
  font-size: 16px;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-round i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-round:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title p {
  color: #F94D1C;
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 400;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans, sans-serif";
  font-size: 45px;
  font-weight: 700;
}

header {
  background-color: #f0efe9;
  padding: 16px;
}
header .container {
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: space-between;
}
header .container .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;
  border-bottom: 1px solid #DAD9D3;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .contact-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .menu .top-menu .contact-information .contact-box i {
  margin-right: 5px;
  font-size: 1.2em;
  color: #191919;
}
header .container .menu .top-menu .contact-information .contact-box.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media a:hover {
  color: rgb(218, 16, 167);
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  margin-right: 35px;
  text-decoration: none;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  font-weight: 500;
  position: absolute;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.showcase {
  background-color: #F0EFE9;
  background-image: url("/assets/image-linestwo.svg");
  background-repeat: no-repeat;
  background-position: -2% 102%;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1200px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 16px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    display: inline-block;
    margin-right: 10px;
  }
}
.showcase .container img {
  margin-right: -50px;
  display: none;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.companies {
  display: none;
}
@media (min-width: 1400px) {
  .companies {
    display: flex;
    justify-content: center;
    gap: 55px;
    margin-top: 85px;
    margin-bottom: 85px;
  }
}

.features {
  border: 1.2px solid #D1D1D1;
  border-radius: 2px;
  margin-left: 12rem;
  margin-right: 12rem;
}
.features .container {
  padding-left: 2rem;
  padding-top: 5rem;
  display: flex;
  gap: 70px;
}
.features .container .content-left {
  flex: 1;
  display: flex;
  gap: 70px;
  flex-direction: column;
}
.features .container .content-left h2 {
  font-size: 18px;
  font-weight: 400;
  color: #F94D1C;
}
.features .container .content-left p {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  max-width: 500px;
  margin-top: -42px;
}
.features .container .content-left a {
  padding: 10px;
  text-align: center;
  max-width: 400px;
  margin-top: -50px;
}
.features .container .content-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding-bottom: 116px;
  padding-right: 200px;
  padding-top: 40px;
}
.features .container .content-right div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.features .container .content-right div i {
  font-size: 40px;
  padding-bottom: 20px;
}
.features .container .content-right div h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.features .container .content-right div .lorem {
  max-width: 220px;
}

.about-company {
  margin-top: 120px;
  padding-bottom: 8rem;
}
.about-company .container {
  display: flex;
  justify-content: space-between;
}
.about-company .container .column-left {
  position: relative;
}
.about-company .container .column-left .founder-textbox {
  position: absolute;
  left: -50px;
  top: 400px;
  background-color: #f0f0f0;
  padding: 40px;
  max-width: 368px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(44, 44, 44, 0.15);
  background-color: #BEEBFF;
  text-align: left;
}
.about-company .container .column-left .founder-textbox h3 {
  font-family: "DM Sans", sans-Serif;
  font-size: 20px;
  font-weight: 700;
}
.about-company .container .column-left .founder-textbox span {
  font-family: "DM Sans", sans-Serif;
  font-size: 16px;
  font-weight: 700;
  color: #F94D1C;
}
.about-company .container .column-right {
  flex: 1;
  margin-left: 250px;
}
.about-company .container .column-right h2 {
  font-size: 18px;
  font-weight: 400;
  color: #F94D1C;
}
.about-company .container .column-right .about {
  font-size: 45px;
  font-weight: 700;
}
.about-company .container .column-right .buttons {
  display: flex;
  align-items: center;
  padding-top: 8rem;
}
.about-company .container .column-right .btn-black {
  margin-right: 2rem;
}
.about-company .container .column-right .btn-round {
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}
.about-company .container .column-right span {
  font-size: 16px;
  font-weight: 400;
}

.our-services {
  background-color: #F0EFE9;
  background-image: url("/assets/lines-reversed.svg");
  background-repeat: no-repeat;
  background-position: 100% 102%;
  width: 100%;
}
.our-services .container {
  padding-bottom: 2rem;
}
.our-services .container .center-content {
  margin-top: 3rem;
}
.our-services .container .services-text {
  max-width: 30rem;
  line-height: 3.5rem;
}
.our-services .container .services-text h2 {
  padding-top: 8rem;
  font-size: 18px;
  font-weight: 400;
  color: #F94D1C;
}
.our-services .container .services-text p {
  padding-top: 1rem;
  font-size: 45px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.our-services .container .services-boxes {
  display: flex;
  gap: 2rem;
}
.our-services .container .services-boxes .box {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 20px;
  margin-top: 10px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.our-services .container .services-boxes .box:hover {
  background-color: #F9D783;
}
.our-services .container .services-boxes .box h3 {
  white-space: nowrap;
  border-top: 1.5px solid #191919;
  padding-top: 2rem;
  width: 39px;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.our-services .container .services-boxes .box .btn-round {
  background-color: #191919;
  margin-top: auto;
  align-self: flex-end;
}
.our-services .container .services-boxes .box .btn-round:hover {
  background-color: #FFFFFF;
  border: #FFFFFF;
  color: #191919;
}
.our-services .container .services-boxes .box .btn-round:hover i {
  color: #191919;
}
.our-services .container .services-boxes .box a {
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.our-services .container .services-boxes .box i {
  color: #FFFFFF;
  margin-right: 0.5rem;
}

.why-choose-us {
  padding-top: 5rem;
  padding-bottom: 10rem;
}
.why-choose-us .container {
  display: flex;
  justify-content: space-between;
}
.why-choose-us .container .content-left p {
  color: #F94D1C;
  font-size: 18px;
  font-weight: 400;
}
.why-choose-us .container .content-left h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.why-choose-us .container .content-left .icon-group {
  display: grid;
  grid-template-columns: 1fr 7fr;
  align-items: center;
  margin-top: 2rem;
}
.why-choose-us .container .content-left .icon-group .icon {
  margin-top: 1rem;
}
.why-choose-us .container .content-left .icon-group .icon img {
  border: 1px solid #E7E7E7;
  border-radius: 50%;
  margin-bottom: 2rem;
  height: 56px;
  width: 56px;
  padding: 0.5rem;
}
.why-choose-us .container .content-left .icon-group .icon-text {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 1rem;
  margin-top: 1rem;
}
.why-choose-us .container .content-left .icon-group .icon-text h3 {
  line-height: 1rem;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.why-choose-us .container .content-left .icon-group .icon-text p {
  color: #191919;
}
.why-choose-us .container .content-right {
  position: relative;
  margin-top: 2rem;
}
.why-choose-us .container .content-right .background-box {
  position: absolute;
  width: calc(135% + 200px);
  height: 425px;
  background-color: #F0EFE9;
  top: 10rem;
  right: -303px;
  z-index: -1;
}
.why-choose-us .container .content-right .img {
  position: relative;
}

.project-and-cases .container .section-title {
  text-align: center;
  margin-bottom: 5rem;
}
.project-and-cases .container .projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media (max-width: 768px) {
  .project-and-cases .container .projects {
    grid-template-columns: 1fr;
  }
}
.project-and-cases .container .projects h3 {
  font-family: "DM Sans" sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E7E7E7;
}
.project-and-cases .container .projects a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #191919;
  font-size: 14px;
  margin-top: 2rem;
}
.project-and-cases .container .btn-black {
  margin-top: 5rem;
}
.project-and-cases .container .center-content {
  padding-bottom: 5rem;
}

.meet-our-team {
  padding-top: 5rem;
  background-color: #F0D082;
}
.meet-our-team .container .section-title {
  margin-bottom: 5rem;
}
.meet-our-team .container h2 {
  display: flex;
  justify-content: space-between;
}
.meet-our-team .container a {
  border: 1px solid #191919;
  width: 220px;
  text-align: center;
}
.meet-our-team .container .team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}
.meet-our-team .container h3 {
  font-family: "DM Sans" sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-top: 1rem;
}
.meet-our-team .container .center-content {
  margin-top: 2rem;
  gap: 1rem;
  padding-bottom: 5rem;
}

.testimonial {
  background-color: #F0D082;
  padding-bottom: 8rem;
}
.testimonial .container {
  padding: 5rem;
  box-sizing: border-box;
  background-color: #FFFFFF;
}
.testimonial .container .section-title {
  text-align: center;
  margin-bottom: 5rem;
}
.testimonial .container .cards-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 3rem;
  gap: 2rem;
}
.testimonial .container .cards-text p {
  margin-top: 1rem;
  max-width: 300px;
}
.testimonial .container .card-names-container {
  display: flex;
  padding-top: 2rem;
}
.testimonial .container .card-names-container .card-names {
  display: flex;
  justify-content: space-around;
}
.testimonial .container .card-names-container .card-names img {
  margin-left: 3rem;
}
.testimonial .container .card-names-container .card-names div {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.testimonial .container .card-names-container .card-names div h3 {
  margin: 0;
  font-family: "DM Sans" sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.testimonial .container .card-names-container .card-names div span {
  text-align: center;
  color: #F94D1C;
}
.testimonial .container .btn-black {
  margin-top: 5rem;
}